[Unit]
Description=Stage 5B Java Application
After=network.target postgresql.service

[Service]
User={{ app_user }}
WorkingDirectory={{ app_dir }}
ExecStart=/usr/bin/java -jar {{ app_dir }}/target/hng-java-boilerplate-0.0.1-SNAPSHOT.jar
EnvironmentFile=/etc/environment
Restart=always
RestartSec=10
StandardOutput=file:/var/log/stage_5b/out.log
StandardError=file:/var/log/stage_5b/error.log

# Ensure JAVA_HOME is set
Environment="JAVA_HOME={{ java_home }}"

# Give the app some time to start up
TimeoutStartSec=60

# Configure resource limits
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target